body {
  text-align: center;
}

div#color {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
}

#new, #submit {
  margin-top:20px;
}

#red, #blue, #green {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

#green, #blue {
  margin-top: 20px;
}
